@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Sans+Pro:300,400');
$main-font-1: 'Source Sans Pro', sans-serif;;
$main-font-2: 'Open Sans', sans-serif;;
$font-color-1: #fff;
$font-color-2: #464646;
$decor-color: #19bd9a;
$font-size: 14px;
$font-height: 1.75; //line-height
$font-weight: 400;
$color-bg: #f3f3f3;


/** Grid variables **/
$container-width: 1200px;
$col-padding: 15px;
